@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body{
	background:#eee;
	color:#333;
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:16px;
	/*text-shadow:0 1px 0 #fff;*/
}
a{
	color:#333;
	text-decoration:underline;
}
/*
form{
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	/*background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	/*border:1px solid #aaa;
	border-radius:10px;
	box-shadow:0 0 15px #aaa;
	margin:15px auto 0;
	padding:20px;

}*/

form.padrao{
	display: block;
	max-width:60%;
	margin: 0 auto;
	/*margin-left: 2%;
	margin-right: 2%;*/	
}

label.tt{
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
}

form label{
	cursor:pointer;
	/*display:block;
	float:left;
	width:220px;	
	*/
	font-size:10px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	text-transform:uppercase;
}

form p{
	margin-bottom:20px;
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}

label.combo{
	cursor:pointer;
	margin: 2px;
	display:block;
	float:left;
	font-size:10px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:220px;
	text-transform:uppercase;
}

form p:hover label{
	color:#0459b7;
}

form p:hover label:after{
	content:" ::..";
}

.form-field{
	display: inline;
	width: 30%;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=datetime],
input[type=url],
textarea,
select{
	background-color: #FFF;
	border:1px solid #aaa;
	border-radius:4px;
	padding:5px;
	display: inline-block;
	width: 100%;
	transition: border-color 0.3s ease 0s;
	color: #535353;
	overflow-x: auto;
	overflow-y: hidden;
	resize: none;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=email]:hover,
input[type=datetime]:hover,
input[type=url]:hover,
textarea:hover,
select:hover{
	border-color: #66afe9;
	transition: border-color 0.3s ease 0s;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=datetime]:focus,
input[type=url]:focus,
textarea:focus,
select:focus{
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	color: #000000;
}

input[type=checkbox]{
	width: 20px;
	height: 20px;
	top: 0;
	float: left;
	margin: 10px 3px 0 0;
}

input[type=checkbox] label{
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

/*.padrao{
	margin-left: 2%;
	margin-right: 2%;
}*/

.salvar{
	margin-top: 20px;
	display: block !important;
 	width: 100% \9;
 	max-width: 100%;
  	height: auto;
  	transition: background-color 0.5s ease 0s;
}

.monetario{
	border-radius: 0 4px 4px 0 !important;
	width: 100% !important;	
}

.active2{
	margin-left: 10px;
}

.tabela{
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

img_table{
	width: 20px;
	height: 20px;
	vertical-align: middle;	
}

.fundo_principal{
	vertical-align: middle;	
	margin: 0 35% auto;
	position:absolute;
}

input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:25px;
	height:21px; 
	display:inline-block;
	line-height:21px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:11px;
	vertical-align:middle;
	cursor:pointer;
	margin-top: 10px;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -21px;
}

label.css-label {
	background-image:url(../img/css/check.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h2.carou{
    color: #ffffff !important;
    padding-top: 90px;
    font-size: 52px !important;
    font-family: "trebuchet ms", sans-serif;
    margin-top: 0 !important;
    margin-bottom: 0 !important;     
}
.item{
    background: #808080;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}

fieldset{
	text-align: left;
	display: block; 
}

fieldset input[type=text]:nth-child(2){
	width: 25%;
	display: block;
}
.img_carrousel{
	display: block; 
	margin: auto; 
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 20px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}